.about-me-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height:100vh;
    gap:50px;
    
    
}


.about-me-img{
    
    
    flex: 1 0 23%;
    margin-bottom: 10px;
   
      
}
.about-me-heading{
    font-family: "Lato";
    font-weight: 700;
    font-size: 42px;
    text-decoration: underline;
   
}
p {
    font-family: "Times New Roman";
    font-weight: 400;
    font-size: 27px;
    text-align: justify;
    
}